<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3><%= userInfo.userName %></h3>
    <ul>
        <li><%= userInfo.userId %></li>
        <li><%= userInfo.age %></li>
    </ul>
    <img src="<%= profile %>" />
</body>
</html>